body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    background-color: #f0f0f0;
    color: #333;
    padding-top: 4rem; /* Adjust this value to match the height of your navbar */
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
