.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem; /* To avoid content hiding behind the navbar */
}

.main {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
}

.pageTitle {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 4rem;
    color: #333;
}

.servicesSection {
    margin-bottom: 4rem;
}

.servicesSection p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 1rem;
}

.productsSection {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.productsContent {
    flex: 1;
    margin-right: 2rem;
}

.productsContent h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.dottedList {
    list-style-type: none;
    padding-left: 1rem;
    margin: 0;
}

.dottedList li {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 0.5rem;
    position: relative;
}

.dottedList li::before {
    content: '•';
    position: absolute;
    left: -1rem;
    color: #333;
    font-size: 1.5rem;
    line-height: 1.2;
}

.productsImage {
    flex: 1;
    text-align: center;
}

.productsImage img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd; /* Optional border for styling */
}


.analysisSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;
}

.analysisItem {
    flex: 1;
    margin: 0 1rem;
    text-align: center;
}

.analysisItem h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.analysisItem h4 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 1rem;
}

.analysisItem p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
}


.whyChooseSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;
}

.whyChooseImage {
    flex: 1;
    text-align: center;
}

.whyChooseImage img {
    max-width: 100%;
    height: 500px;
    border: 1px solid #ddd; /* Optional border for styling */
}

.whyChooseContent {
    flex: 1;
    margin-left: 2rem;
}

.whyChooseContent h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.whyChooseContent p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 1rem;
}

.whyChooseContent .dottedList {
    padding-left: 1rem;
    margin: 0;
}

.whyChooseContent .dottedList li {
    position: relative;
}

.whyChooseContent .dottedList li::before {
    content: '•';
    position: absolute;
}

@media (max-width: 768px) {
    .productsSection {
        flex-direction: column;
    }

    .productsContent {
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .analysisSection {
        flex-direction: column;
    }

    .analysisItem {
        margin: 1rem 0;
    }
}


.contactSection {
    width: 100vw; /* Ensure the footer spans the entire width of the viewport */
    background-color: #003366; /* Dark blue background color */
    color: #fff;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-left: calc(50% - 50vw); /* Center the footer to span full width */
}

.contactContent {
    flex: 1;
    max-width: 300px;
    margin: 1rem;
}

.contactImage {
    max-width: 100px;
    height: auto;
    margin-bottom: 1rem;
}

.contactContent h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
}

.contactContent p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.icon {
    width: 24px;
    height: 24px;
}